<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/">
</head>
<body>
    <h2>Créer une API Key</h2>

<form action="insert_api_key.php" method="POST">

    <label>ID User :</label>
    <input type="number" name="user_id" required>

    <label>API Key :</label>
    <input type="text" name="api_key" required>

    

    <button type="submit">Créer</button>

</form>
</body>
</html>